body {
  padding-top: 50px;
}

video {
  width: 100vw;
  /*height: calc(100vh - 45px - 1.5em);*/
  filter: opacity(80%) sepia(20%);
  overflow: hidden;
  font-size: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  /*overflow-y: hidden;*/
}

.right {
  padding-right: 20px;
}

@media (min-width: 768px) {
  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


/*body {
  padding-top: 70px;
  overflow-x: hidden;
}*/

.wrap {
  margin-top: -5px;
}

.typewriter h1 {
  color: orange;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  position: absolute;
  top: 80vh;
  left: 50vw;
  z-index: 99;
  transform: translate(-50%, -50%);
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}

.abouts {
  margin-top: -40px;
}

.auth-image {
  width: 20vw;
  display: block;
  margin: auto;

}



.bout-me {
  height: 50vh;
}

.text-center a {
  align-items: center;
}

.city {
  display: block;
  margin: 0 auto;
}

.grey {
  background: #9d9d9d;
  display: flex;
  justify-content: center;
  height: 50vh;
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -50px;
  left: 0;
  visibility: hidden;
}

.section {
  position: relative;
}

.icon {
  margin-top: 5px;
  font-size: 5vw;
  color: green;
  padding: 5px;
}

#theBorder {
  border: 10px solid #222;

}

.i-space{
  padding: 5vh;
}
.color {
  background: #222;
  color: white;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.half {
  height: 50vh;
}

/*.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
