body {
  padding-top: 50px;
  font-size: 16px;
}
.video-container {
  position: relative;
}
.cover {
  height: auto;
  vertical-align: middle;
  width: 100%;
  filter: opacity(80%) sepia(20%) grayscale(90%);
}

.typewriter {
  background: rgba(0,0,0,0);
  position: absolute;
  bottom: 10%;
  text-align: center;
  left: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.right {
  padding-right: 20px;
}

@media (min-width: 768px) {
  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.typewriter h1 {
  color: orange;
  font-family: monospace;
  overflow: hidden;
  font-size: 3vw;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  z-index: 99;
  /*transform: translate(-50%, -50%);*/
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}


p {
  font-size: 1.3vw;
}


.bout-me {
  height: 50%;
}

.text-center a {
  align-items: center;
}

/* .grey::before {
    background-image: url(../images/texture.png);
    z-index: -1;

} */

.grey {
  background: #9d9d9d;

  display: flex;
  justify-content: center;
  height: 50%;
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -50px;
  left: 0;
  visibility: hidden;
}

.section {
  position: relative;
}

.icon {
  margin-top: 5px;
  font-size: 8rem;
  color: orange !important;
  padding: 5px;
}

#theBorder {
  border: 10px solid #222;

}

.i-space{
  padding: 5vh;
}

.color {
  background: #222;
  color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.half {
  height: calc(50vh - 25px);
}

.scale-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.flex-move {
  display: flex;
  flex-wrap: wrap;
}

.moveIt {
  flex: 1;
}

.coder {
    /* The image used */
    background-image: url("../images/bunchCode.jpg");
    filter: grayscale(70%) opacity(80%) sepia(20%);

    /* Set a specific height */
    height: 50vh;
    /* width: 100%;  */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url("../images/dc.jpg");
    filter: grayscale(90%) opacity(80%) sepia(20%);

    /* Set a specific height */
    height: 50vh;
    /* width: 100%;  */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .color{
  background: #9d9d9d;
} */

.centerIt {
  display: flex;
  justify-content: center;
}
@keyframes theAnimate {
  0% { opacity: 1; }
  10% { opacity: .9; }
  20% { opacity: .7; }
  30% { opacity: .5; }
  40% { opacity: .3; }
  50% { opacity: .1; }
  60% { opacity: .3; }
  70% { opacity: .5; }
  80% { opacity: .7; }
  90% { opacity: .9; }
  100% { opacity: 1; }
}
.theAnimate {
  animation:  theAnimate 5s linear infinite;
}

@media (max-width: 767px) {
  .moveIt {
    flex: 1 100%;
  }

  .flex-move > :nth-child(1) { order: 2; }
  .flex-move > :nth-child(2) { order: 1; }
}
