video {
  width: 100vw;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.right{
  padding-right: 20px;
}

@media (min-width: 992px) {
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.crop {
  overflow:hidden;
  display:block;
  height: 60vh;
}


.wrap {
  padding-top: 70px;
}

header {
	height:60vh;
}

#nav.affix {
    position: fixed;
    top: 0;
    padding-bottom: 70px;
    width: 100%;
    z-index:9999999;
}

.typewriter h1 {
  color: orange;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#about {
  padding-top: 40px;
}

.auth-image {
  width: 10vw;
  float: left;
  padding-right: 10px;
  filter: grayscale(100%);
}

p {
  padding-left: 50px;
}
